@import url('https://fonts.googleapis.com/css2?family=Aoboshi+One&display=swap');

* {
    box-sizing: border-box;
    /* border: 2px solid gold; */
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/link.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    max-width: 100%;
    height: 100%;
}

#switch {
    width: 1000px;
    height: 321px;
    display: grid;
    grid-template-columns: 12.5% 75% 12.5%;
}

#switch-left {
    width: 100%;
    background-color: red;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 5px 5px 5px 5px black;
}

#switch-middle {
    width: 100%;
    display: grid;
    background-image:radial-gradient(dimgray, black);
    grid-template-columns: 375px 375px;
    box-shadow: 5px 5px 5px 5px black;
}

#switch-right {
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 5px 5px 5px black;
    background-color: red;
}

#circle-one {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top: 15%;
    left: 31%;
    background-color: black;
    box-shadow: 0 0 0 5px black;
}

#circle-two {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 32%;
    background-color: black;
}

#circle-three {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 40%;
    right: 45%;
    background-color: black;
}

#circle-four {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 30%;
    left: 55%;
    background-color: black;
}

#circle-five {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 38%;
    left: 9%;
    background-color: black;
}

#circle-six {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 15%;
    left: 31%;
    background-color: black;
    color: white;
}

#circle-seven {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 23%;
    right: 15%;
    background-color: black;
    color: white;
}

#circle-eight {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 23%;
    right: 5%;
    background-color: black;
    color: white;
}

#circle-nine {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    position: relative;
    top: 16%;
    left: 31%;
    background-color: black;
    color: white;
}

#circle-ten {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: relative;
    top: 38%;
    background-color: black;
    box-shadow: 0 0 0 5px black;
}

.result > div{
    display: flex;
    flex-wrap: wrap;
    text-transform: capitalize;
    padding-top: 10px;
    padding-right: 5px;
    color: gold;
    font-size: 15px;
    font-family: 'Aoboshi One', serif;
}

#mobile {
    display: none;
}

@media (max-width: 985px) {
    body {
        margin: 0;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(images/TOTK.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    #switch {
        display:none;
    }

    #mobile {
        height: 100vh;
        width: 100%;
        display: grid;
        grid-template-rows: 45% 45% 10%;
    }

    img {
        display: block;
        margin: auto;
    }

    .result {
        background-color: black;
    }

    .result > div {
        display: block;
        padding: 0;
        font-family: 'Aoboshi One', serif;
        font-size: 14px;
    }

    #bottom {
        margin: auto; 
    }
    
}